body {

    background-color:#f9ea98;
    padding: 1em;
    
}

.wrapper {
    padding: 30px 30px 300px;
}

.columns {
    margin: 0 -15px;
    flex-wrap: wrap;
    display: flex;
}


.col {
    background:#f9f2c9;
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

header {
    background-image: url("/lemonimage.jpg");
    background-size: cover;
    width: 100%;
    height:fit-content;
    border-style: groove;
    border-radius: 5px;
    display:flex;
    justify-content: center;
}

footer {
    background-image: url("/lemonimage.jpg");
    background-size: cover;
    width: 100%;
    height:fit-content;
    border-style: groove;
    border-radius: 5px;
    display:flex;
    justify-content: center;
}

.col-50 {
    width: calc(50% - 30px);
}

button {
    margin: 2em;
}

form {
    margin: 2em;
}
.col-100 {
    padding: 2em;
    display:flex;
    flex-flow:wrap;
    width: calc(100% - 30px);
}
.leftstuff{
    width:40%;
    border-style:solid;
    margin:2em;
}
.displayQuote {
    width:40%;
    margin: 2em;
    border-style:solid;
}

.card {
    background:#f9ea98;
    border-radius: .5em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(1, 71, 48);
}

/* applying font and font styling*/
h1, h3, h4, button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h4 {
    color:rgb(1, 71, 48);
    text-shadow: 1px 1px 1px #f9ea98;
    padding: 2px;
    border-radius: 4px;
    background-color:#f9f2c9;
    opacity: .8;
}

h1 {
    color:rgb(1, 71, 48);
    text-shadow: 2px 2px 1px #f9ea98;
    padding: 2px;
    border-radius: 4px;
    background-color:#f9f2c9;
    opacity: .8;
}

p, form {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

/* changing the buttons up */

button{
    background:rgb(1, 71, 48);
    color:#f9f2c9;
    border-radius: 4px;
}

.squeeze{
    background:rgb(1, 71, 48);
    color:#f9f2c9;
    border-radius: 4px;
}

footer {
    display:flex;
    justify-content:center;
}

@media screen and (max-width: 800px){
    .col-50 {
        width: 100%;
    }
}
