body {

    background-color:#f9ea98;
    padding: 1em;
    
}

.wrapper {
    padding: 30px 30px 300px;
}

.columns {
    margin: 0 -15px;
    flex-wrap: wrap;
    display: flex;
}


.col {
    background:#f9f2c9;
    margin: 0 15px 30px;
    padding: 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

header {
    background-image: url("/lemonimage.jpg");
    background-size: cover;
    width: 100%;
    height:fit-content;
    border-style: groove;
    border-radius: 5px;
    display:flex;
    justify-content: center;
}

footer {
    background-image: url("/lemonimage.jpg");
    background-size: cover;
    width: 100%;
    height:fit-content;
    border-style: groove;
    border-radius: 5px;
    display:flex;
    justify-content: center;
}

.col-50 {
    width: calc(50% - 30px);
}

button {
    margin: 2em;
}

form {
    margin: 2em;
}
.col-100 {
    padding: 2em;
    display:flex;
    flex-flow:column;
    width: calc(100% - 30px);
}

.card {
    background:#f9ea98;
    border-radius: .5em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(1, 71, 48);
}

@media screen and (max-width: 800px){
    .col-50 {
        width: 100%;
    }
}
